:root {
    --primary-font-family: 'Poppins', sans-serif;
    --light-white: #f5f8fa;
    --gray: #5e6278;
    --gray-1: #e3e3e3;
  }
  
  body {
    font-family: var(--primary-font-family);
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }
  
  .btn {
    background-color: #568203;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 0.75rem 1.5rem;
    font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 85%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
  
  .wrapper {
    padding: 0 0 100px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
  }
  
  .wrapper .logo img {
    max-width: 40%;
  }
  
  .wrapper input {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
  }
  
  .wrapper input:focus {
    box-shadow: none;
  }
  
  .wrapper .password-info {
    font-size: 10px;
  }
  
  .wrapper .submit_btn {
    padding: 10px 15px;
    font-weight: 500;
  }
  
  .wrapper .login_with {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
  }
  
  .wrapper .submit_btn:focus,
  .wrapper .login_with:focus {
    box-shadow: none;
  }
  
  .wrapper .login_with:hover {
    background-color: var(--gray-1);
    border-color: var(--gray-1);
  }
  
  .wrapper .login_with img {
    max-width: 7%;
  }
    
